.layout {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100dvh;
}

.brand {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  padding: var(--space-8) var(--space-4);
  background-color: var(--color-background);
}

@media (min-width: 900px) {
  .layout {
    grid-template-columns: minmax(22rem, 2fr) 3fr;
  }

  .brand {
    display: flex;
  }

  .brand>* {
    flex: 1;
  }

  .mobileLogo {
    display: none;
  }

  .main {
    padding: var(--space-12);
  }
}